<div
    style="font-family:roboto,sans-serif;border:1px solid #e0e0e0;background-color:white;max-width:600px;margin:0 auto">
    <div style="background-color:#FAA21E;padding:24px">
        <div style="color:white;font-weight: 700;font-size: 20;padding-bottom:5px">HOOVADA</div>
        <div style="color:white;font-size: 16;">Nền tảng chia sẻ kiến thức hàng đầu Việt Nam</div>
    </div>

    <div style="background-color:white">
        <img src="https://3.pik.vn/2020ee2c94bf-4eee-4ec5-bdc3-26692f8d785e.png" style="width:100%;padding:15px 0px;" />
    </div>

    <div style="margin-bottom:24px;padding:10px 24px">
        <div style="color: #333333;font-weight: 700;font-size: 20;padding-bottom:5px">
            Thay đổi mật khẩu!
        </div>
        <div style="padding:20px 0px; ">
            <div>Xin chào! <span style="font-weight: 700"></span>
            </div>

        </div>
        <div>Vui lòng nhấn vào nút sau để thay đổi mật khẩu. Đường dẫn sẽ vô hiệu lực trong vòng 5 phút.</div>
        
        <div style="margin:0;outline:none;padding:0;text-align:center;padding:40px 0px;">
            <a href="{{config.DOMAIN_URL}}?reset_popup=true&token={{token}}" style="background: #FAA21E;
            border-radius: 99px;color:white;padding:10px 20px;border:#FAA21E;text-decoration: none;">Đổi mật khẩu
            </a>
        </div>

        <div style="padding-bottom:20px">Nếu bạn không yêu cầu mã này thì có thể là ai đó đang cố truy cập vào tài khoản của bạn. Đừng chuyển tiếp hoặc cung cấp thư này cho bất kỳ ai.</div>

        <div style="padding:10px 0px; ">
            Trân trọng cảm ơn!
            <div style="font-weight:700;padding-top:5px">
                Đội ngũ Hoovada
            </div>
        </div>
    </div>

</div>